doctype
html(lang='en')
  head
    title MacMon
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    block boilerplateheader
  body
    block content