extends navbar
block selected
  -var selected = 'Approved Devices';
block body
  h1= title
  p Hi #{username}! Welcome to #{title}

  p This is where all the data for whitelisted assets will be displayed!