extends navbar
block selected
  -var selected = 'New Detected Devices';
block body
  h1= title
  p Hi #{username}! Welcome to #{title}

  p This is where all newdly detected devices will be displayed before they are whitelisted!