{
	"hashStrength": 10,
	"serverPort": 443,
	"CidrRanges": [
		"192.168.2.0/24", 
		"10.10.0.0/16"
	],
	"scanInterval": 300,
	"emailServer": "smtp.office365.com",
	"smtpPort": 587,
	"emailSender": "sender@example.local",
	"emailSenderUsername": "sender@example.local",
	"emailRecipient": "recipient@example.local",
	"emailTls": "True",
	"cookieSecret": "password",
	"emailSenderPassword": "password"
}