extends navbar
block header
  link(rel='stylesheet', type='text/css', href='datatables/datatables.min.css')
  link(rel='stylesheet', type='text/css', href='jqueryui/jquery-ui.min.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/datatables.css')
  script(type='text/javascript', charset='utf8', src='/datatables/datatables.min.js')
  script(src='/js/asset-tables.js')
  script(src='/jqueryui/jquery-ui.min.js')
  script(src='/js/jstz.min.js')
  script(src='/js/moment.js')
  script(src='/js/moment-timezone.js')

block body
  //Modal for editing a record
  #editAsset.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editAssetModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#editAssetModalLabel.modal-title Edit
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizonal.justify-content-center(action='/assets/update', method='post')
            input#editAssetMac(type='hidden',name='MAC')
            .form-group
              label(for='editAssetName') Name
              input#editAssetName.form-control(type='text', name='Name')
            .form-group
              label(for='editAssetDescription') Description
              textarea#editAssetDescription.form-control(rows='3', name='Description')
            .form-group
              label(for='assetType') Asset Type
              select#assetType.form-control(name='AssetType')
            button#editAssetSubmitButton.btn.btn-primary(type='button', enabled) Submit
  //Modal for nmap scan warning
  #nmapModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='nmapModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#nmapModal.modal-title Port Scan
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p#nmapBody(style='white-space:pre;')
        .modal-footer
          button.btn.btn-primary(data-dismiss="modal") Close
  //Header for filtering table
  .container-fluid
    .row
      strong Filter By Date:
      .col-lg
        input#datePickerStart.form-control(type="text", placeholder="Start Date")
      .col-lg
        input#datePickerEnd.form-control(type="text", placeholder="End Date ")
      .col-lg
        button.btn.btn-secondary.btn-sm(onClick=('FilterDates()')) Filter
      .col-lg
        #buttonContainer
    //Main datatable
    .row.top-buffer
      .col
        table#assetTable.table.table-hover.table-sm
          thead.thead-dark
            tr
              th#tzHeader
              th Mac Address
              th Name
              th Decription
              th Open Ports
              th Vendor
              th IP Addresses
              th Asset Type
              th Last Updated
              th First Seen
          tbody
            block assetTable