{
	"dbAddress": "127.0.0.1",
	"dbPort": 1433,
	"dbUser": "AssetTracking_User",
	"dbName": "AssetTracking",
	"hashStrength": 10,
	"serverPort": 443,
	"CidrRanges": [
		"192.168.2.0/24", 
		"10.10.0.0/16"
	],
	"scanInterval": 300,
	"emailServer": "smtp.office365.com",
	"smtpPort": 587,
	"emailSender": "sender@example.local",
	"emailSenderUsername": "sender@example.local",
	"emailRecipient": "recipient@example.local",
	"emailTls": "True",
	"dbPassword": "password",
	"cookieSecret": "password",
	"emailSenderPassword": "password",
	"environment": "production",
}