module.exports = {
	"dbAddress": "127.0.0.1",
	"dbPort": 1433,
	"dbUser": "AssetTracking_User",
	"dbPassword": "password",
	"dbName": "AssetTracking",
	"serverPort": 443,
	"cookieSecret": "password",
	"hashStrength": 10,
	"CidrRanges": ["192.168.2.0/24", "10.10.0.0/16"]
}
